<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/head'); -%>

    <body id="page-top">
        <!-- Navigation-->
        <%- include('layouts/navbar'); -%>
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center" style="background-image: url('assets/img/about-bg.jpg')">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">un peu plus sur moi</h1>
            </div>
        </header>
        <!-- About Section-->
        <section class="page-section portfolio" id="about">
            <div class="container">
                <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique suscipit molestias ex aspernatur adipisci fugit minus facilis, fugiat quasi eligendi repellat modi error possimus animi ducimus a explicabo molestiae id!</p>
                <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis quia voluptas ducimus perferendis, vero delectus cumque assumenda fugiat explicabo dolorum nam hic? Nobis officia numquam fuga odit repudiandae quibusdam iste!</p>
                <br>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium repudiandae aliquid facere saepe suscipit rem sit ullam veniam illum vero obcaecati quae in dicta, quas facilis rerum cupiditate ducimus inventore.</p>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea minus odio tenetur, doloribus libero et. Quidem quam molestias quis nemo reprehenderit, consequatur laborum harum cupiditate aliquid? Quas soluta commodi ea.</p>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quas ex sit tenetur voluptatem facere cumque impedit ipsum quidem hic expedita, quisquam vero dolor tempora libero aut illo. Expedita, nulla.</p>
            
            </div>
        </section>

        <!-- Footer-->
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html>
