<!DOCTYPE html>
<html lang="en">
    <%- include('../layouts/head'); -%>

    <body id="page-top">
        <!-- Navigation-->
        <%- include('../layouts/navbar'); -%>

        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center" style="background-image: url('assets/img/contact-bg.jpg')">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Rédiger un nouvel article</h1>
            </div>
        </header>

        <!-- New article Section-->
        <section class="page-section" id="articlet">
            <div class="container">
                <!-- Article Section Form-->
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xl-7">
                        <form id="articleForm" method="post" action="/articles/store">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="title" type="text" placeholder="Entrer le titre de l'article..." name="title"/>
                                <label for="title">Titre de l'article</label>
                            </div>

                            <!-- category of article-->
                            <div class="col-md-4">
                                <label class="form-label" for="cateroryList">Catégorie de l'article</label>
                                <select class="form-select" id="cateroryList" name="category">
                                  <!-- <option selected>Choose...</option> -->
                                  <option value="Vie de famille">Vie de famille</option>
                                  <option value="Communication">Communication</option>
                                  <option value="Gestion émotionnelle">Gestion émotionnelle</option>
                                </select>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" name="content"></textarea>
                                <label for="message">Le contenu de votre article</label>
                            </div>

                            <!-- Submit Button-->
                            <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Envoyer</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <%- include('../layouts/footer'); -%>
        <%- include('../layouts/scripts'); -%>
    </body>
</html>
